*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #121213;
  color: #ffffff;
  min-height: 100vh;
  user-select: none;
  -webkit-user-select: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
